# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class


# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
android/*/bin/
android/*/gen/
android/*/.classpath
android/*/.project
android/*/lint.xml

# MetroDataCollector
android/MetroDataCollector/docs

#archives
*.zip
*.7z
