# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class


# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
# metro4all
android/metro4all/.classpath
android/metro4all/.project
android/metro4all/lint.xml
android/metro4all/bin/
android/metro4all/gen/

# MetroDataCollector
android/MetroDataCollector/bin
android/MetroDataCollector/gen
android/MetroDataCollector/.classpath
android/MetroDataCollector/.project
android/MetroDataCollector/lint.xml
android/MetroDataCollector/docs

#archives
*.zip
*.7z
