body {
    background-size: 100% auto;
    background-position: 50% 0;
    background-color: #000;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #444;
    font-family: 'Andika', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Andika', Arial, Helvetica, sans-serif;
}

.container {
    background-color: #FFF;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-collapse {
    padding-left: 0;
}

.header {
    background-image: url(../img/part-5.jpg);
    background-position: 0 -170px;
    height: 170px;
    margin: 0 0 10px 0;
    padding: 0 20px;
}

.title {
    color: #FFFFFF;
    font-size: 37px;
    padding: 10px 0 0;
    text-shadow: 0 0 7px #484123;
}

.nextgis-link {
    text-align: center;
    float: right;
    margin: 0;
}

.social-share {
    list-style: none;
    margin: 15px 0;
    text-align: center;
    padding: 0;
}

.social-share li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.social-share .vk div {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.social-share .fb-like {
    display: inline-block;
}

.loading {
    background-image: url(../img/loading.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.news {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 25px;
    padding: 15px 25px;
}

.news h2 {
    font-size: 24px;
    margin: 0 0 20px 0;
}

.news ul {
    list-style: none;
    padding: 0;
}

.news li {
    padding: 0;
    margin: 0 0 20px 0;
}

.news li h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.news li h3,
.news li a {
    color: #D8A300;
}

.metro-logo a {
    background-repeat: no-repeat;
    background-position: 15px 50%;
}

.metro-logo-msk a {
    background-image: url(../img/metro-logo-msk.png);
    padding-left: 55px !important;
}

.metro-logo-spb a {
    background-image: url(../img/metro-logo-spb.png);
    padding-left: 50px !important;
}

.metro-logo-waw a {
    background-image: url(../img/metro-logo-waw.png);
    padding-left: 50px !important;
}

.route > li.enter:before {
    background-image: url(../static/img/in.png) !important;
}

.route > li.exit:before {
    background-image: url(../static/img/out.png) !important;
}

.marker-enter {
    background-image: url(../static/img/in.png) !important;
}

.marker-exit {
    background-image: url(../static/img/out.png) !important;
}

.feedback-email {
    float: left;
}

.title-beta {
    color: #D8A300;
    font-size: 21px;
}

.navbar-social > li > a {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

.required {
    color: red;
    margin-left: 5px;
}

.qa-question-body p {
    margin-bottom: 7px;
}

.question-block {
    margin-bottom: 25px;
}

.question-block.hilite {
    padding: 15px 25px 15px 15px;
    background-color: #EEE;
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.news-list li .item-date {
    margib-bottom: 5px;
    font-size: 12px;
}

.news-list li {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.news-list li h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.route-paging {
    margin-top: 0;
}
