.container {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 0;
}

.header {
    background-image: none;
    height: 90px;
    padding: 0 10px;
}

.title {
    padding: 0;
    margin: 0;
}

.subscribe {
    margin-top: 40px;
}

.nav.navbar-nav a {
    color: #D8A300;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: black;
}