body {
    background-size: 100% auto;
    background-position: 50% 0;
    background-color: #000;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #444;
    font-family: 'Andika', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Andika', Arial, Helvetica, sans-serif;
}

.container {
    background-color: #FFF;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-collapse {
    padding-left: 0;
}

.header {
    background-image: url(../img/part-5.jpg);
    background-position: 0 -170px;
    height: 170px;
    margin: 0 0 10px 0;
    padding: 0 20px;
}

.title {
    color: #FFFFFF;
    font-size: 37px;
    padding: 10px 0 0;
    text-shadow: 0 0 7px #484123;
}

.nextgis-link {
    text-align: center;
    float: right;
    margin: 0;
}

.social-share {
    list-style: none;
    margin: 15px 0;
    text-align: center;
    padding: 0;
}

.social-share li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.social-share .vk div {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.social-share .fb-like {
    display: inline-block;
}

.route {
    margin: 0;
    padding: 0;
}

.route > li {
    list-style: none;
    padding: 0 0 10px 20px;
    line-height: 15px;
    background-image: url(../img/search-result-1-line.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13px;
    font-weight: bold;
}

.route > li:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 5px;
    margin-left: -20px;
}

.route > li.transition:before {
    background-image: url(../img/search-result-1-circle-from.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.route > li.exit:before {
    background-image: url(../img/search-result-1-circle.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.route > li div {
    padding-left: 10px;
}

/* transition */

.route > li.transition.from-line-2:before,
.route > li.exit.line-2:before {
    background-position: 0 -16px;
}

.route > li.transition.from-line-3:before,
.route > li.exit.line-3:before {
    background-position: 0 -32px;
}

.route > li.transition.from-line-4:before,
.route > li.exit.line-4:before {
    background-position: 0 -48px;
}

.route > li.transition.from-line-5:before,
.route > li.exit.line-5:before {
    background-position: 0 -64px;
}

.route > li.transition.from-line-6:before,
.route > li.exit.line-6:before {
    background-position: 0 -80px;
}

.route > li.transition.from-line-7:before,
.route > li.exit.line-7:before {
    background-position: 0 -96px;
}

.route > li.transition.from-line-8:before,
.route > li.exit.line-8:before {
    background-position: 0 -112px;
}

.route > li.transition.from-line-9:before,
.route > li.exit.line-9:before {
    background-position: 0 -128px;
}

.route > li.transition.from-line-10:before,
.route > li.exit.line-10:before {
    background-position: 0 -144px;
}

.route > li.transition.from-line-11:before,
.route > li.exit.line-11:before {
    background-position: 0 -160px;
}

.route > li.transition.from-line-12:before,
.route > li.exit.line-12:before {
    background-position: 0 -176px;
}

/* lines */

.route > li.line-2,
.route > li.to-line-2 {
    background-position: 0 -300px;
}

.route > li.line-3,
.route > li.to-line-3 {
    background-position: 0 -600px;
}

.route > li.line-4,
.route > li.to-line-4 {
    background-position: 0 -900px;
}

.route > li.line-5,
.route > li.to-line-5 {
    background-position: 0 -1200px;
}

.route > li.line-6,
.route > li.to-line-6 {
    background-position: 0 -1500px;
}

.route > li.line-7,
.route > li.to-line-7 {
    background-position: 0 -1800px;
}

.route > li.line-8,
.route > li.to-line-8 {
    background-position: 0 -2100px;
}

.route > li.line-9,
.route > li.to-line-9 {
    background-position: 0 -2400px;
}

.route > li.line-10,
.route > li.to-line-10 {
    background-position: 0 -2700px;
}

.route > li.line-11,
.route > li.to-line-11 {
    background-position: 0 -3000px;
}

.route > li.line-12,
.route > li.to-line-12 {
    background-position: 0 -3300px;
}

.route > li.exit {
    background-image: none !important;
}

/* markers */

.marker-station {
    background-image: url(../img/search-result-1-circle.png);
}

.city-2 .marker-station {
    background-image: url(../img/search-result-2-circle.png);
}

.marker-station.marker-line-2 {
    background-position: 0 -16px;
}

.marker-station.marker-line-3 {
    background-position: 0 -32px;
}

.marker-station.marker-line-4 {
    background-position: 0 -48px;
}

.marker-station.marker-line-5 {
    background-position: 0 -64px;
}

.marker-station.marker-line-6 {
    background-position: 0 -80px;
}

.marker-station.marker-line-7 {
    background-position: 0 -96px;
}

.marker-station.marker-line-8 {
    background-position: 0 -112px;
}

.marker-station.marker-line-9 {
    background-position: 0 -128px;
}

.marker-station.marker-line-10 {
    background-position: 0 -144px;
}

.marker-station.marker-line-11 {
    background-position: 0 -160px;
}

.marker-station.marker-line-12 {
    background-position: 0 -176px;
}

.obstacles {
    margin: 7px 0 10px 0;
    padding: 0;
}

.obstacles li {
    list-style: none;
    font-size: 12px;
    margin: 0 0 3px 0;
    padding: 0;
    width: 220px;
    font-weight: normal;
}

.obstacles li strong {
    font-weight: normal;
}

.obstacles li strong:after {
    content: ':';
}

.route-paging {
    margin-top: 0;
}

.city-2 .route > li {
    background-image: url(../img/search-result-2-line.png);
}

.city-2 .route > li.transition:before {
    background-image: url(../img/search-result-2-circle-from.png);
}

.city-2 .route > li.exit:before {
    background-image: url(../img/search-result-2-circle.png);
}

.loading {
    background-image: url(../img/loading.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.news {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 25px;
    padding: 15px 25px;
}

.news h2 {
    font-size: 24px;
    margin: 0 0 20px 0;
}

.news ul {
    list-style: none;
    padding: 0;
}

.news li {
    padding: 0;
    margin: 0 0 20px 0;
}

.news li h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.news li h3,
.news li a {
    color: #D8A300;
}

.metro-logo a {
    background-repeat: no-repeat;
    background-position: 15px 50%;
}

.metro-logo-msk a {
    background-image: url(../img/metro-logo-msk.png);
    padding-left: 55px !important;
}

.metro-logo-spb a {
    background-image: url(../img/metro-logo-spb.png);
    padding-left: 50px !important;
}

.route > li.enter:before {
    background-image: url(../static/img/in.png) !important;
}

.route > li.exit:before {
    background-image: url(../static/img/out.png) !important;
}

.marker-enter {
    background-image: url(../static/img/in.png) !important;
}

.marker-exit {
    background-image: url(../static/img/out.png) !important;
}

.feedback-email {
    float: left;
}

.title-beta {
    color: #D8A300;
    font-size: 21px;
}

.navbar-social > li > a {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

/* profiles section */

div.profiles {
    margin-bottom: 3px;
}

div.profiles *:not(:first-child):not(:last-child) {
    border-radius: 0 0 0 0;
}

div.profiles *:first-child {
    border-radius: 4px 0 0 4px;
}

div.profiles *:last-child {
    border-radius: 0 4px 4px 0;
}

div.profiles input {
    min-width: 50px;
    max-width: 100px;
    height: 35px;
    border: solid #aaaaaa 1px;
    border-left: none;
    padding: 0;
    margin: 0;
    float: left;
}

label.profile {
    width: 35px;
    height: 35px;
    opacity: 0.5;
}

label.profile:hover {
    opacity: 0.7;
}

label.profile.active {
    opacity: 1.0;
}

#profile_man {
    background: url(../img/profiles.png) no-repeat 0 -35px;
}

#profile_wheelchair {
    background: url(../img/profiles.png) no-repeat -35px -35px;
}

#profile_trolley {
    background: url(../img/profiles.png) no-repeat -70px -35px;
}

div.profile-descr {
    font-size: 12px;
    color: #aaaaaa;
    margin-bottom: 11px;
}

.required {
    color: red;
    margin-left: 5px;
}

.qa-question-body p {
    margin-bottom: 7px;
}

.question-block {
    margin-bottom: 25px;
}

.question-block.hilite {
    padding: 15px 25px 15px 15px;
    background-color: #EEE;
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.news-list li .item-date {
    margib-bottom: 5px;
    font-size: 12px;
}

.news-list li {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.news-list li h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

